### Import Packages

In [2]:
import pandas as pd

### Load All Datasets And Check First Couple Of Rows

In [3]:
steam200kinitial = pd.read_csv('C:/Users/Joshua/Documents/git/EntityFinalProject-main/steam-200k.csv')
gamesales2017initial = pd.read_csv('C:/Users/Joshua/Documents/git/EntityFinalProject-main/Video_Game_Sales_as_of_Jan_2017.csv')

In [4]:
steam200kinitial.head(5)

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [5]:
gamesales2017initial.head(5)

                             Name         Genre
0                      The Sims 3    Simulation
1               World of Warcraft  Role-Playing
2                      Diablo III  Role-Playing
3      Microsoft Flight Simulator    Simulation
4  StarCraft II: Wings of Liberty      Strategy

In [6]:
steam200k = steam200kinitial.rename(columns={'151603712': 'User', 'The Elder Scrolls V Skyrim': 'Name', 'purchase':'Behavior', '1.0':'Playtime'})
steam200k.drop('0', axis=1, inplace=True)
steam200k.head(5)

        User                        Name  Behavior  Playtime
0  151603712  The Elder Scrolls V Skyrim      play     273.0
1  151603712                   Fallout 4  purchase       1.0
2  151603712                   Fallout 4      play      87.0
3  151603712                       Spore  purchase       1.0
4  151603712                       Spore      play      14.9

In [7]:
steam200k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User      199999 non-null  int64
 1   Name      199999 non-null  object
 2   Behavior  199999 non-null  object
 3   Playtime  199999 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

In [8]:
steam200k.nunique()

User        12393
Name         5155
Behavior        2
Playtime     1593
dtype: int64

### Descriptive Statitics

In [9]:
steam200k.describe()

               User       Playtime
count  1.999990e+05  199999.000000
mean   1.036556e+08      17.874468
std    7.208084e+07     138.057292
min    5.250000e+03       0.100000
25%    4.738420e+07       1.000000
50%    8.691201e+07       1.000000
75%    1.542309e+08       1.300000
max    3.099031e+08   11754.000000

In [10]:
steam200k_genre = steam200k.merge(gamesales2017initial, how='left', on='Name')
steam200k_genre.head(5)

        User                        Name  Behavior  Playtime         Genre
0  151603712  The Elder Scrolls V Skyrim      play     273.0           NaN
1  151603712                   Fallout 4  purchase       1.0  Role-Playing
2  151603712                   Fallout 4      play      87.0  Role-Playing
3  151603712                       Spore  purchase       1.0      Strategy
4  151603712                       Spore      play      14.9      Strategy