In [1]:
import pandas as pd

In [5]:
steam200kinitial = pd.read_csv('C:/Users/chamyia/Documents/DataScience Course/FinalProject/steam-200k.csv')

In [6]:
steam200kinitial.head(5)

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0

In [8]:
steam200k = steam200kinitial.rename(columns={'151603712': 'User', 'The Elder Scrolls V Skyrim': 'Game', 'purchase':'Behavior', '1.0':'Playtime'})
steam200k.drop('0', axis=1, inplace=True)
steam200k.head(5)

        User                        Game  Behavior  Playtime
0  151603712  The Elder Scrolls V Skyrim      play     273.0
1  151603712                   Fallout 4  purchase       1.0
2  151603712                   Fallout 4      play      87.0
3  151603712                       Spore  purchase       1.0
4  151603712                       Spore      play      14.9

In [11]:
steam200k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User      199999 non-null  int64
 1   Game      199999 non-null  object
 2   Behavior  199999 non-null  object
 3   Playtime  199999 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

In [15]:
steam200k.nunique()

User        12393
Game         5155
Behavior        2
Playtime     1593
dtype: int64